@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>
        Welcome to Slijterij Sjonnie Loper!
        <br />
        <br />
        We are sell wiskey for the cheapest prices, without forgetting quality. Browse our wares <br />
        and make a accaunt if you want to make a reservation.
    </p>
</div>
