@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.OrdersModel
@{
}


<h1>Orders</h1>

<table class="table">
    <tr>
        <td><b>Reservation Id</b></td>
        <td><b>Name whiskey</b></td>
        <td><b>Customer Name</b></td>
        <td><b>Amount of bottles</b></td>
    </tr>
    @foreach (var orders in Model.ReservationOrders)
    {
        <tr>
            <td>@orders.ReservationId</td>
            <td>@orders.Whiskey.Name</td>
            <td>@orders.CustomerName</td>
            <td>@orders.AmountBottles</td>
        </tr>
    }
</table>

