@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.ReservationModel
@{
    ViewData["Title"] = "Reservation";
}

<h1>Whiskey Reservation</h1>
<br />

<h5>Whiskey details:</h5>

<form>

    <div>
        <label>Name</label>
    </div>
    <div class="form-group">
        <input />
    </div>
    <div>
        <label>Age</label>
    </div>
    <div class="form-group">
        <input />
    </div>
    <div>
        <label>Production area</label>
    </div>
    <div class="form-group">
        <input />
    </div>
    <div>
        <label>Alcohol percentage</label>
    </div>
    <div class="form-group">
        <input />
    </div>
</form>

