@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.ReservationModel
@{
}

<h1>Whiskey Reservation</h1>
<br />

<h5>Whiskey details:</h5>

<form>

    <div class="form-group">
        <label>Name: </label>
        <input asp-for="Whiskey.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Age"></label>
        <input asp-for="Whiskey.Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Area"></label>
        <input asp-for="Whiskey.Area" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Percentage"></label>
        <input asp-for="Whiskey.Percentage" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Kind"></label>
        <input asp-for="Whiskey.Kind" class="form-control" />
    </div>
</form>

