@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.SearchModel
@{
}


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search" />
                </button>
            </span>
        </div>
    </div>
</form>
